@font-face {
	font-family: "JetBrains Mono";
	src: url("../font/JetBrainsMono-Regular.ttf");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", sans-serif;
	font-size: 20px;
	text-align: center;
	background-color: #27272a;
	color: #f9fafb;
}

#navbar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #18181b;
	justify-content: center;
	align-items: center;
	padding: 2% 30% 2% 30%;
	font-size: 30px;
}

#home {
	display: grid;
	grid-template-columns: 60%;
    justify-content: center;
}

#home_tittle {
	margin-top: 5%;
	font-size: 30px;
	padding: 2%;
}

#home_text {
	text-align: justify;
	margin-top: 5%;
	padding: 2%;
	background-color: #18181b;
}

#home_hours {
	margin-top: 5%;
	padding: 2%;
	background-color: #18181b;
}

#home_location {
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 2%;
	background-color: #18181b;
}

#menu {
	display: grid;
	grid-template-columns: 60%;
    justify-content: center;
}

#menu_tittle {
	margin-top: 5%;
	font-size: 30px;
	padding: 2%;
}

#appetizers {
	margin-top: 5%;
	padding: 2%;
	background-color: #18181b;
}

#appetizers_tittle {
	font-size: 25px;
	margin-bottom: 2%;
}

#footer {
	padding: 2% 0 2% 0;
	background-color: #18181b;
}
